<div class="card__articulo m-2 p-2">

    <a href="/articulos/<%= producto._id %>" style="text-decoration: none; color: inherit;">

        <div class="img_card">
            <img src="<%= producto.url %>">
        </div>
        
        <p class="categoria"><span style="font-weight: bold;">Categoria: </span><%= producto.categoria %></p>

        <p><%= producto.nombre %></p>
        <div class="d-flex flex-row justify-content-end gap-2">
            <p class="parrafo_Precio text-success">Precio:</p>
            <p class="parrafo_Precio">$<%= producto.precio %></p>
        </div>

    </a>

    <div class=" d-flex flex-column justify-content-center align-self-center">
        <a href="/descripcion" class="btn_card_ver align-self-center fw-bold">Ver</a>
    </div>
    
</div>