<div class="container_pasarella">
    <h4>DETALLES DE PAGO</h4>
    <div class="Card_Pago_Container">

        <div class="MedioDePago">


            <form action="/pagar" method="POST">

                <div class="d-flex gap-3">
                    <div class="d-flex flex-column gap-2">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="Input_DueñoTarjeta" required>
                    </div>
                    <div class="d-flex flex-column gap-2">
                        <label for="apellido">Apellido</label>
                        <input type="text" id="apellido" name="apellido" class="Input_DueñoTarjeta" required>
                    </div>
                </div>

                <div class="d-flex flex-column gap-2">
                    <label for="NumeroTarjeta">Numero de tarjeta</label>
                    <input type="number" id="nroTarjeta" name="nroTarjeta" class="NumeroTarjeta" required>
                </div>

                <label for="FechaVencimiento">Fecha de vencimiento</label>
                <div class="MesAño align-items-center">
                    <input type="text" id="fechaVen" name="fechaVen" required placeholder="MM/AA">
                </div>
                <div class="CVV">
                    <label for="NumeroCVV">CVV</label>
                    <input type="number" id="cvv" name="cvv" "NumeroCVV" required>
                </div>
                <!-- </form> -->


                <div class="Terminos_y_Condiciones_Formulario">
                    <div class="Credito-Debito">
                        <img src="../../../img/Mastercard.PNG" alt="martecard" class="ImagenesTarjetas">
                        <img src="../../../img/Visa.PNG" alt="visa" class="ImagenesTarjetas">
                        <img src="../../../img/MercadoPago.PNG" alt="MercadoPago" class="ImagenesTarjetasMP">
                    </div>
                    <div class="w-50 d-flex flex-column">
                        <p>Al realizar la compra, aceptas los términos y condiciones establecidos.</p>
                        <p>Es importante que revises detenidamente estos términos, ya que contienen informaciónrelevante
                            sobre tu compra, entrega, devoluciones y responsabilidades. </p>
                        <a href="#">Ver terminos y condiciones</a>
                    </div>
                </div>
        </div>


        <div class="ResumenParaPagar">
            <div>
                <h4>Resumen de compra</h4>
                <div class="ResumenTotal">
                    <div class="marco-compras-interior">
                        <div class="marco-compras-interior-notitulo">
                            <% let total=0; %>
                                <% const arrayIDprod=[]; pedidos.forEach(pedido=> {
                                    arrayIDprod.push(pedido.producto.id); %>
                                    <div class="marco-compras-linea">
                                        <span class="marco-compras-linea-detalle">
                                            <%= pedido.producto.nombre %>
                                        </span>
                                        <span class="marco-compras-linea-subtotal">$<%= pedido.producto.precio %>
                                        </span>
                                    </div>
                                    <% total +=pedido.producto.precio; %>
                                        <% }); %>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="TotalApagar">
                    <h4>Total</h4>
                    <% arrayIDprod.forEach(id=> { %>
                        <input type="hidden" name="idProductos[]" id="idProductos[]" value="<%= id %>">
                        <% }); %>
                            <input type="hidden" name="montoTotal" id="montoTotal" value="<%= total %>">
                            <p>$ <%= total %>
                            </p>
                </div>
                <hr>
                <button class="pagar_button" type="submit">Pagar</button>
                </form>
            </div>
        </div>
    </div>
</div>