<%- include('../../partials/head.ejs') %>
<%- include('../../partials/nav.ejs') %>

<div class="perfiluser">
        <h1>Datos Perfil</h1>
        <form action="/perfil" method="POST" class="FormularioCompletarPerfil">
            <div class="datosperfiluser">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="<%= user.nombre %>" required>
            </div>
            <div class="datosperfiluser">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" value="<%= user.direccion %>" required>
            </div>
            <div class="datosperfiluser">
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" value="<%= user.telefono %>" required>
            </div>
            <div class="datosperfiluser">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" value="<%= user.email %>" required>
            </div>
            <button class="buttonperfiluser"
            type="submit">Actualizar</button>
        </form>
        <% if (user.es_admin) { %>
            <a href="/dashboard">Menu Administrador</a>
            <% } %>
                <a href="/logout">Cerrar sesión</a>

                </body>

                
</div>

<%- include('../../partials/footer.ejs') %>