<%- include('../../partials/nav.ejs') %>
<%- include('../../partials/buscarArticulos.ejs') %>
<%- include('../../partials/head.ejs') %>

<div class="partials__articulos__container m-5">
    <div class="category-container">
      <%- include('../articulos/categorias.ejs') %>
    </div>
    <h1>DESCRIPCION DEL ARTICULO</h1>
    <p>aca hay que sincronizar esta ruta, con el id del articulo, para irlo a buscar a la base de datos</p>
    <p>cada componente renderizado, debe renderizar con las propiedades de su coleccion, desde mongo, y con esto, acceder al id, crear una ruta con parametro id /:id</p>
  </div>



<%- include('../../partials/footer.ejs') %>