<%- include('../../partials/nav.ejs') %>
    <%- include('../../partials/head.ejs') %>

        <h1>CARRITO DE COMPRAS DE <%= user.nombre %>
        </h1>

        <%- include('../../partials/compras.ejs') %>

            <%- include('../../partials/footer.ejs') %>