<%- include('../partials/head') %>
<%- include('../partials/buscarArticulos') %>

<div class="partials__articulos__container m-5">
    <div class="category-container">
      <%- include('../partials/articulos/categorias') %>
    </div>
    <div class="articulos-container">
      <%- include('../partials/articulos') %>
    </div>
  </div>

<%- include('../partials/footer') %>